body{
    margin:0;
    /* background-color: rgb(255, 254, 185); */
}

section{
    display: block;
    min-height: 100vh;
}

.icon{
    width: 50px;
    height: 50px;
}

.content{
    padding-top:60px;
  }

#home{
    font-family: sans-serif;
    font-size: 120px;
    text-align: center;
}


