body{
    margin:0;
    background-color: rgb(255, 254, 185);
}

section{
    display: none;
    min-height: 94vh;
}

.content{
    padding-top:60px;
  }

#home{
    font-family: sans-serif;
    font-size: 120px;
    display:block;
    text-align: center;
}
#characters{
    padding: 70px;
}

.CharArticle{
    display: block;
    padding: 30px;
    background-color: white;
    overflow: auto;
    height: 60vh;
    margin: 0px;
}


/* .fourImg{
    width: 150px;
    height: 150px;
    border: 3px solid grey;
    margin: 50px;
} */

.icon{
    width: 50px;
    height: 50px;
}
