body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.tabcontent {
    color: black;
    display: none;
    padding: 10px;
    height: 500%;
}

#home {background-color: green;}
#countries {background-color: cyan;}
#characters {background-color: rgb(13, 23, 165);}
#elements {background-color:bisque;}

#mondstadt-char, #mondstadt {background-color: #72c3aa;}
#liyue-char, #liyue {background-color: #feb81c;}
#inazuma-char, #inazuma {background-color: #bd33fe;}
#sumeru-char, #sumeru {background-color: #a8cc3c;}
#fontaine-char, #fontaine{background-color: #4cc4f4;}

#FourStarChar {background-color: #4a00ac;}
#FiveStarChar {background-color: rgb(255, 252, 64)}